---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -2
AlignAfterOpenBracket: BlockIndent
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Right
SpacesInParentheses: true
...
